/*global formats*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(58, 58, 58);
    
    color:rgb(231, 231, 231);
}
/*index.html pages formats*/
body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    position: absolute;
    flex-direction: column;
}
nav {
    display: flex;
    padding: 15px 20px
}
.nav-links {
    flex: 1;
    text-align: right
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #000000 ;
    display: block;
    margin: auto;
    transition: 0.5s
}
.nav-links ul li:hover::after {
    width: 100%
}

.body {
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 100px;
}
.titleBox, .mainHeading {
    font-size: 2rem;
    padding: 35px 10px 25px;
}
.choiceStatement {
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn {
    background: transparent;
    border: none;
    justify-content: center;
}
img {
    padding: 10px 20px;
    margin: auto;
    background: #fff;
    border:solid 2px #a53a2a;
    border-radius: 5px;
    transition: 1s;
    align-items: center;
}
img:hover{
    border-color: #a53a2a;
    background: #a53a2a;
    transition: 1s;
}
.game-container {
    margin-bottom: 25px;
}
.option-container{
   
    margin: 10px auto;
    width: 50%;
    padding: 20px 50px
}

.footer {
    margin:auto;
    margin-bottom: 5px;
    justify-content: center;
    text-align: center;
}
.icons {
    font-size: 2.5rem
}

.playAgain, .reset, .start {
    display: none;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 5px;
    border:solid 2px #a53a2a;
    transition: 1s;
    margin: auto;
}
.playAgain:hover, .reset:hover, .start:hover {
    background-color:#a53a2a ;
    color: #fff;
}
.winner {
    padding-bottom: 30px;
}
#score {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin:auto;
    font-size: 1.6rem;
}
#score :nth-child(1){
    border: solid 2px #a53a2a;
    border-radius: 5px;
    padding: 1px 80px;
}
#score :nth-child(2){
    border: solid 2px #a53a2a;
    border-radius: 5px;
    padding: 1px 10px;
}

.reset, .start {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-weight: 600;
}
/*----index.html----*/

.mainHeading{
    padding: 50px;
}
.mainSubheading{
    font-weight: 600;
    font-size: 1.4rem;
    padding: 10px 0 50px 0;
}
.start {
    position:initial;
}
/*---- about.html----*/
.information {
    width: 80%;
    margin: auto;
}
.section1 h1, .section1 p, .section1 h2, .section1 ul, .lastSection h1, .lastSection p, .lastSection ul {
    padding: 15px 0;
}
.section1 h1, .lastSection h1{
    font-size: 3rem;
}
.section1 ul, .lastSection ul{
    list-style: none;
    font-size: 1.3rem;
}
.section1 p, .lastSection p{
    text-align: justify;
    font-size: 1.3rem;
}
.lastSection ul {
    margin-bottom: 20px;
}
/*----rspls----*/
.game-container {
    margin-bottom: 25px;
}
.option-container{
   
    margin: 10px auto;
    width: 80%;
    padding: 20px 50px;
}
 @media screen and (max-width:400px) {
     .body {
         height: 100vh;
     }
     .reset {
         padding: 5px;
         right: 0;
     }
     h1, h2 {
         font-size: 24px;
     }
     .nav-links ul li{
         font-weight: 12px;
     }
     .titleBox, .choiceStatement{
         padding: 2px;
     }
     .fa-times {
         position:absolute;
         right: 45vw;
         margin-top: 0px;
     }
    
    .nav-links ul{
        display: inline-block;

        top: 50px;
        right:0px;
 
    }
    .nav-links ul li{
        display: inline-block;
        font-size: 12px
    
    }

}







